{% extends "layout.njk" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6">
      <div >Event Expenses {{label}}</div>
      <form action="/expense/add" method="post">
        <input type= "hidden" name= "id" value= "{{id}}">
        <input type= "hidden" name= "label" value= "{{label}}">
      <button type="submit" class="btn btn-primary">Add</button>
      <a href= "/" id= "cancel" name= "cancel" class="btn btn-light">Cancel</a>
    </div>
    <div class="col">
    </div>
  </div>
</div>
{% endblock %}
