{% extends "layout.njk" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6">
      <table class="table  table-bordered" id="contour">
        <thead class="thead-dark" id="contour">
          <tr>
            <div class="shadow p-3 mb-0.3 rounded" id="tableAll" ><i class="fas fa-hand-peace"></i>  All Events  </div>
          </tr>
        </thead>
        <tbody>
          <br>
          {% for row in rows %}
          <tr>
            <td>
              <a href="/eventexpense/{{row.id}}"><h3 id="titleEventDesing">{{row.label}}</h3></a><p><small id="allDescription">{{row.description}}</small></p>
            </td>
          </tr>
          {% endfor %}
        </br>
        </tbody>
      </table>
      <center>
      <a href="event"><h3>{{row.label}}</h3>
      <button id="Button" type="button" class="btn btn-primary btn-lg"><i class="fas fa-plus-circle"></i></button>
      </a><p><small>{{row.description}}</small></p>
    </center>
    </div>
    <div class="col">
    </div>
  </div>
</div>
{% endblock %}
