{% extends "layout.njk" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6">
      <div >Add Event</div>
      <form action="/event/new" method="post">
        <input type= "hidden" name= "user_id" value= "{{user.user_id}}">
        <div>
          <label>Label</label>
          <input type="text" name="label" class="form-control">
        </div>
        <div>
          <label>Description</label>
          <input type="text" name="description" class="form-control">
        </div>
        <div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="mx-auto" scope="col">Name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Jean Phi</th>
              </tr>
              <tr>
                <th scope="row">Rémi</th>
              </tr>
              <tr>
                <th scope="row">Olivier</th>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <button type="submit" class="btn btn-primary">Save</button>
          <a href= "/" id= "cancel" name= "cancel" class="btn btn-light">Cancel</a>
          <button type="button" class="btn btn-secondary">Close</button>
          <button type="button" class="btn btn-danger">Archive</button>
        </div>
      </form>
    </div>
    <div class="col">
    </div>
  </div>
</div>
{% endblock %}
