{% extends "layout.njk" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6">
      <div >Add Expense {{label}}</div>
      <form action="/expense/save" method="post">
        <input type= "hidden" name= "user_id" value= "{{user.user_id}}">
        <input type= "hidden" name= "id" value= "{{id}}">
        <div>
          <label>Label</label>
          <input type="text" name="label" class="form-control">
        </div>
        <div>
          <label>Amount</label>
          <input type="integer" name="amount" class="form-control">
        </div>
      <button type="submit" class="btn btn-primary">Save</button>
      <a href= "/event/{{id}}" id= "cancel" name= "cancel" class="btn btn-light">Cancel</a>
    </div>
    <div class="col">
    </div>
  </div>
</div>
{% endblock %}
